{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Jesman Dzimba - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Jesman Dzimba."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-overrides.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
  <div id="header" class="instaFade">

    <div class="headerDetails">
      <div id="headshot" class="quickFade">
        <img src="{% static 'images/headshot.png' %}" alt="Jesman Dzimba" />
      </div>

      <div id="headerName">
        <h1 class="quickFade delayTwo">Jesman Dzimba</h1>
        <h2 class="quickFade delayThree">
			<ul class="headerMenu">
				<li>software engineer </li>
				<li>· computer science </li>
				<li> · university of forthare</li>
			</ul>
		</h2>
		<h3>
			<ul class="headerMenu">
				<li>(+27) 060 381 2851 </li>
				<li><a href="mailto:dzjesman@gmail.com" alt="Jesman Dzimba Email">| dzjesman@gmail.com  </a></li>
				<li><a href="http://www.kabongi.me" alt="Jesman Dzimba Website" target="_blank">| www.kabongi.me  </a></li>
				<li><a href="https://github.com/ka-bongie/" alt="Jesman Dzimba Github" target="_blank">| github  </a></li>
				<li> <a href="http://www.linkedin.com/in/jesman-dzimba-935246a2" alt="Jesman Dzimba LinkedIn" target="_blank"> | LinkedIn </a></li>
			</ul>

		<h3>
      </div>
      {% block navContacts %}{% endblock %}
      <div class="clear"></div>
    </div>

    {% block content %}{% endblock %}
  </div>

{% block javascript %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/esm/popper-utils.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
