  <section class="aboutme">
    <article>

      <div class="row sectionTitle0">
        <div class="col-sm-3">
          <h4>About me </h4>
        </div>
      </div>

      <div class="row justify-content-md-center sectionContent0">
        <div class="col-md-9">
        I enjoy learning new technologies and always try to align myself with technologies and people that make me
        feel happy to wake up each morning.

        I like to work with extremely talented people. Collaborate with
        like-minded people to make products that make an immediate impact. I thrive in an environment that challenges
         me and makes me compete on a global scale. An environment with a wide room to grow, and be able to work
          with a diverse culture of people. Give me the platform to unleash my potential.

      I value more than anything good working relations where people don't get bullied based on what they don't yet know.
      I believe in a culture that uplifts its people rather than discourage then. I love FREE COFFEE!!!
        </div>
      </div>
    </article>
    <div class="clear"></div>
  </section>
