    <section class="whycs">
      <article>

        <div class="row justify-content-md-center sectionContent">
          <div class="col-md-9">
          I got introduced to Software development at University level when having
          done a late application, all my preferred options had no more space for new students. The only field that was
          open to new students was Computer Science, and that is how I first got introduced into the world of Software Development.
           I have since grown and learnt a lot regarding this industry mostly thanks to YouTube channels. I have taught myself
            technologies that I want to improve on, along with getting advice from experts that make me a better developer.
            I continue wanting to align myself with extremely talented people and be the best that I can be, and hopefully,
            one day compete at a global level.
          </div>
        </div>
      </article>
      <div class="clear"></div>
    </section>
