
html, body {
	background: rgb(95, 99, 104) !important;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 16px;
	color: #222;
}

.clear {clear: both;}

#header {
	width: 90%;
	max-width: 900px;
	background: #f3f3f3;
	margin: 60px auto;
}

.headerDetails {
	padding: 100px 35px 25px 35px;
	/* border-bottom: 2px solid #9370DB; */
	background: #fff;
	text-align: center;
}

#headerName h1 {
	font-size: 47px;
	font-weight: 400;
	margin-bottom: -6px;
	color: rgb(82, 86, 89);
	font-family: 'Times New Roman', Helvetica, Arial, sans-serif;

}

#headerName h2 {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	color: #9370DB ;
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 10px;
	letter-spacing: 1px;
	}
#headerName h3 {
	font-size: 15px;
	margin-top: 15px;
}

.headerMenu li {
	display:inline;
}
.headerMenu li a{
	text-decoration: none;
	color: rgb(82, 86, 89);
}

.sectionTitle0{
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.sectionTitle0 h4 {
	color: #9370DB;
	margin-bottom: 10px;
}

.sectionTitle0 hr {
	size: 30px;
	/* background-color: rgb(95, 99, 104) */
}

.sectionContent0 {
	text-align: justify;
	color: rgb(82, 86, 89);
}

.sectionContent0 .aboutMeList li {
	list-style-type:none;
}

.sectionContent0 h4 {
	font-size: 18px;
}
.sectionContent0 .headerSubTitle {
	font-size: 12px;
	text-transform: uppercase;
}

.sectionContent0 .city, .sectionContent0 .date{
	font-style: italic;
	text-align: right;
	display: block;
	width: 100%;
	font-size: 14px;
	color: rgb(82, 86, 89);
}

.sectionContent0 .city {
		color: #9370DB;
}

.sectionContent0 .experienceList {
		margin: 20px 0px;
}

.technologies .portfolioSkills {
	font-style: italic;
}


#mainArea {
	padding: 0 40px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


section {
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}

	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#header {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}

	#headshot {
		display: none;
	}

	#headerName {
		float: none;
		width: 100%;
		text-align: center;
	}

}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
	}

	#mainArea {
		padding: 0 25px;
	}

	#headerName h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #header {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}

.homeNavItems {
	margin: 10px 0 20px 0;
}

#collapsePortfolio p{
	margin-bottom: 30px !important;
}

.technologies,  .technologies ul, .technologies li{
	padding: 1px !important;
}

.portfolioSection {
	text-align: justify;
}

.portfolioSection h5{
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 0.5em;
	color: #9370DB;
}

.portfolioTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #9370DB;
}
