{% extends 'layouts/base.html' %}

{% block content %}

<div id="mainArea" class="quickFade delayFive">
  <section>
    <article>
	    <div class="accordion" id="accordionResume">
		  	<div class="row homeNavItems">
				<div class="col col-sm-6">
					<div class="card-header2" id="headingOne">
					  <h2 class="mb-0">
						<button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseResume" aria-expanded="true" aria-controls="collapseResume">
							Resume
						</button>
					  </h2>
					</div>
				</div>
				<div class="col col-sm-6">
					<div id="collapseResume" class="collapse show2" aria-labelledby="headingOne" data-parent="#accordionResume">
						<div class="card-body">
							<p> Get or view a generic version of my resume</p>
							<a href="{%url 'resume' %}" class="btn btn-primary btn-sm" target="_blank"> View Online </a>
							<a href="{% url 'download_resume' %}" class="btn btn-link" target="_blank"> Download PDF </a>
						</div>
					</div>
				</div>
			</div>

			<div class="row homeNavItems">
				<div class="col col-sm-6">
					<div class="card-header2" id="headingPortfolio">
					  <h2 class="mb-0">
					    <button class="btn btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapsePortfolio" aria-expanded="false" aria-controls="collapsePortfolio">
							Portfolio
					    </button>
					  </h2>
					</div>
				</div>
				<div class="col col-sm-6">
					<div id="collapsePortfolio" class="collapse" aria-labelledby="headingPortfolio" data-parent="#accordionResume">
					  <div class="card-body">
						<p class="text-justify"> This is where i list all the relevant projects that i have worked on up to so far. Each project has a link to my github account for the source code. I have decided so include
							this site as a list of my projects incase there is any one interested to learn a certain implementation of a feature on this site....(You never know!)
						</p>
						<a href="{% url 'portfolio' %}" class="btn btn-primary btn-sm" target="_blank"> View Portfolio </a>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </article>
    <div class="clear"></div>
  </section>
</div>

{% endblock %}
