
{% extends 'layouts/base.html' %}
{% load static %}

  {% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">portfolio</li>
	{% endblock %}

{% block content %}

<div id="mainArea" class="quickFade delayFive">

	<section>
		<article>
			<div class="portfolioSection sectionTitle0">

				<div class="portfolioTitle">
					<h4>Teacher Management Application</h4>
				</div>

				<div class="technologies">
					<ul class="headerMenu portfolioSkills">
						<li>Java SE |</li>
						<li>MySQL |</li>
						<li>jUnit </li>
					</ul>
				</div>

				<p>
					This is a desktop application that helps a teacher manage student assessment scores and attendance.
					This project used a TDD approach where i created models. For each model i created test cases to makes
					sure that the behavior is correct. Working this way helped me confirm whether or not my implementation
					worked as expected. More especially with connection to the database.

					The project currently does not have any UX as yet because i wanted to make sure that the backend works fine
					before introducing frontend implementation. This helps me focus on the problem at a time instead of troubleshooting
					both frontend implementation and well as backend implementation.
				</p>

				<h5><a href="https://github.com/ka-bongie/teacher-management-system" class="btn btn-link" target="_blank">Go to GIT </a></h5>

			</div>
		</article>
		<div class="clear"></div>

	</section>


	<section>
		<article>
			<div class="portfolioSection sectionTitle0">

				<div class="portfolioTitle">
					<h4>Profile Site</h4>
				</div>

				<div class="technologies">
					<ul class="headerMenu portfolioSkills">
						<li>Django |</li>
						<li>Html5/css </li>
					</ul>
				</div>

				<p>
					Online platform that helps showcase some of the projects that i have done. It also gives some information about myself that
					may not be contained in my resume or cover letters.
				</p>
				<h6>Version 1.0</h6>
				<p>All text is hardcoded on the html templates. Nothing gets pulled from the database or any external storage or source.</p>

				<h6>Version 1.1</h6>
				<p>Not been implemeted yet. This will involve pulling information from a form of storage. Idea when my portfolio gets bigger
				in terms of content that need to be displayed or how frequent i need to undate my details.</p>

				<h5><a href="https://github.com/ka-bongie/jesmandzimba.git" class="btn btn-link" target="_blank"> Go to GIT </a></h5>

			</div>
		</article>
		<div class="clear"></div>

	</section>



</div>
{% endblock %}
