{% extends 'layouts/base0.html' %}

{% block content %}

<div id="mainArea" class="quickFade delayFive">
	<section>
		<article>


			<div class="portfolioSection">
				<div class="portfolioTitle">
					<h1>Profile Site</h1>
				</div>

				<div class="technologies">
					<ul>
						<li class="portfolioItem">Python/Django</li>
						<li class="portfolioItem">Html5/css</li>
					</ul>
				</div>

				<p>
					Online profile that demostrates all the relevant projects that i have done, linking the use to github source code per project.
					This was my very first python project when i decided to transition from Php to Python. Instead of learning python theoratically,
					 i thought it would be good way to learn by creating a this platform.
				</p>
				<h6>Version 1.0</h6>
				<p>Static website with all the descriptions hard coded on the html templates. This was the MVP</p>

				<h6>Version 1.1</h6>
				<p>This has not been implemeted yet, but the work will involve the resume and the projects pulling data from a database. Not sure if this is necessary for
				such a site. Still weighing options.</p>

				<h5><a href="https://github.com/ka-bongie/jesmandzimba.git" class="btn btn-link" target="_blank"> View Source </a></h5>

			</div>
		</article>
		<div class="clear"></div>

	</section>
</div>
{% endblock %}
