{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
{% load static %}


	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="row sectionTitle0">
					<div class="col-md-2">
						<h4>About me </h4>
					</div>
					<div class="col-md-10">
						<hr>
					</div>
				</div>

				<div class="row sectionContent0">
					<div class="col-12 aboutMeList">
						<ul>
							<li>
								<div class="row">
									<div class="col-md-2">
										<strong>Programming</strong>
									</div>
									<div class="col-md-10">
										<ul class="headerMenu">
											<li>Python </li>
											<li>· Php </li>
											<li> · Java</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<strong>Analytics</strong>
									</div>
									<div class="col-md-10">
										<ul class="headerMenu">
											<li>MySQL </li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-2">
										<strong>Web/Media</strong>
									</div>
									<div class="col-md-10">
										<ul class="headerMenu">
											<li>Django </li>
											<li>· Laravel </li>
											<li> ·  HTML/CSS</li>
											<li> ·  JavaScript /Vue,js/Knockout.js</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section>
			<article>
				<div class="row sectionTitle0">
					<div class="col-md-2">
						<h4>Experience </h4>
					</div>
					<div class="col-md-10">
						<hr>
					</div>
				</div>

				<div class="row sectionContent0">
					<div class="col-sm-6">
						<h4>Baseline Software</h4>
						<span class="headerSubTitle">Web Developer - Fullstack</span>
					</div>
					<div class="col-sm-6">
						<span class="city">Tokai, CT</span>
						<span class="date">Jun. 2018 – Now </span>
					</div>

					<div class="col-12 experienceList">
						<ul>
								<li>Worked in a small team of two to develop Laravel based web applications.</li>
								<li>Querying data from a MySQL database.</li>
								<li>Integrating our application with third party API such as Vetro.io and Google Map API.</li>
								<li>Liasing with client regarding work that need to be done.</li>
								<li>Handling and implementing work that was beyond our core languages such as; developing an inhouse Xamarin
app and pyhton scripts at the request of a client when there wasn’t work to do on the main stream.</li>
								<li>Learning responsibility of handling a project and giving deliverables on time</li>
						</ul>
					</div>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<article>
				<div class="row sectionTitle0">
					<div class="col-md-2">
						<h4>Internships </h4>
					</div>
					<div class="col-md-10">
						<hr>
					</div>
				</div>

				<div class="row sectionContent0">
					<div class="col-sm-6">
						<h4>Khanyisa Real Systems</h4>
						<span class="headerSubTitle">Junior Developer - Intern Team</span>
					</div>
					<div class="col-sm-6">
						<span class="city">Rondebosch, CT</span>
						<span class="date">Jan. 2018 – Feb. 2018 </span>
					</div>

					<div class="col-12 experienceList">
						<ul>
								<li>Learning Agile and Scrum processes, Extreme Programming, Git processes, Test Driven Development, Domain
Driven Design, Single Page Apps.</li>
						</ul>
					</div>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<article>
				<div class="row sectionTitle0">
					<div class="col-md-2">
						<h4>Education </h4>
					</div>
					<div class="col-md-10">
						<hr>
					</div>
				</div>

				<div class="row sectionContent0">
					<div class="col-sm-6">
						<h4>University of Forthare</h4>
						<span class="headerSubTitle">Msc Computer Science</span>
					</div>
					<div class="col-sm-6">
						<span class="city">Alice, EC</span>
						<span class="date">Feb. 2015 – May 2017 </span>
					</div>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<br>

		<section>
			<article>
				<div class="row sectionTitle0">
					<div class="col-md-2">
						<h4>Education </h4>
					</div>
					<div class="col-md-10">
						<hr>
					</div>
				</div>

				<div class="row sectionContent0">
					<div class="col-sm-6">
						<h4>University of Forthare</h4>
						<span class="headerSubTitle">Bsc (Hons) Computer Science</span>
					</div>
					<div class="col-sm-6">
						<span class="city">Alice, EC</span>
						<span class="date">Feb. 20154 – May 2015 </span>
					</div>

					<div class="col-12 experienceList">
						<ul>
								<li>Cum laude.</li>
						</ul>
					</div>
				</div>
			</article>
			<div class="clear"></div>
		</section>
	</div>

{% endblock %}

{% block  javascript %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

{% endblock %}
