{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Jesman Dzimba - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Jesman Dzimba."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Jesman Dzimba" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Jesman Dzimba</h1>
			<h2 class="quickFade delayThree">Software Engineer</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="dzjesman@gmail.com" target="_blank">dzjesman@gmail.com</a></li>
				<li><a href="http://www.jesmandzimba.com">www.jesmandzimba.com</a></li>
				<li>(+27) 060 381 2851</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Junior Web Developer</h2>
					<p class="subDetails">June 2018 - Present</p>
					<p>
						Fullstack developer using mainly laravel framework. Developed projects using PHP for the backend to interact with a mysql database and also the connect to third party
						APIs such as Vetro and Google Maps.
						In one of my projects i used Knocjout.js on the frontend in order to replicate some functionality that is found
						in an Excel spreadsheet, e.g, interface of rows and columns, copying and pasting rows together with their data and use of functions on some row cells. I have also worked using Vue.js
						in a project that i inherited from another developer.
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Php</li>
					<li>Python</li>
					<li>Docker</li>
					<li>JavaScript</li>
					<li>Html5</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>University of Fort Hare</h2>
					<p class="subDetails">MSc Computer Science / Bsc (hons) Computer Sceince</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>

				<article>
					<h2>University of Venda</h2>
					<p class="subDetails">Bsc Computer Science and Mathematics</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
