{% extends 'layouts/base.html' %}


{% block navContacts %}
<div id="contactDetails" class="quickFade delayFour">
	<ul>
		<li><a href="dzjesman@gmail.com" target="_blank">dzjesman@gmail.com</a></li>
		<li><a href="http://www.jesmandzimba.com">www.jesmandzimba.com</a></li>
		<li>(+27) 060 381 2851</li>
	</ul>
</div>
{% endblock %}


{% block content %}
{% load static %}


	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>
						Jesman Dzimba is a dedicated and open minded Software Engineer with two years of experience working as a web developer.
						She give her all in any given task and never gets limited by her lack of knowhow on any given taks. She goes out of
							way to try and learn new skills and makes an effort anywhere she can rather than giving up or turning down unrelated work.
							She is always wannting to learn new things and has recently shifted her focus from Php to Python and is hoping to pursue
							a successful career building solution using Python.
					</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Junior Web Developer</h2>
					<p class="subDetails">June 2018 - Present</p>
					<p>
						Fullstack developer using Laravel, which is a Php framework. All of the projects interacted with a Mysql database.
						Some of third the party APIS that i have integrated with some of the projects include Vetro.io and Google Maps.
						Frontend technologies that i used include Knocjout.js where we tried to replicate some excel spreadsheet
						functionality such as duplication of data from one. Vue.js is also a frontend technology that i have the oportunity to use.
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Php/Laravel</li>
					<li>Python/Django</li>
					<li>Docker</li>
					<li>Html5/CSS</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>University of Fort Hare</h2>
					<p class="subDetails">MSc Computer Science / Bsc (hons) Computer Sceince</p>
					<p></p>
				</article>

				<article>
					<h2>University of Venda</h2>
					<p class="subDetails">Bsc Computer Science and Mathematics</p>
					<p></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>

{% endblock %}

{% block  javascript %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

{% endblock %}
